
  .container {
    overflow: hidden;
  }
  .navbar1 {
    background: #16151A;
    padding: 16px;
  }

  .headerNav {
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
  }
  .content {
    border-radius: 20px;
    background-color: #16151A;
  }
  .sidebar {
    background: #EFEDEC;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-size: 24px;
    transition: width 0.3s ease;
  }
  .logoContainer {
    display: flex;
    justify-content: center;
    margin: 5px 10px;
  }
  .navItem {
    color: white !important;
  }
  .navItem.collapsed{
    border-radius: 5px;
    width: auto;
    height: auto;
  }
  .navItem:hover {
    background: linear-gradient(to bottom right, #ee9454 10%, #bd6060 90%) !important;
    color: white !important;
    font-weight: medium;
    font-weight: bold;
  }
  .navItem.active {
    color: white !important;
    background: linear-gradient(to bottom right, #f97316 10%, #bd2828 90%) !important;
    font-weight: bold;
  }

  .navmenu {
    color: black;
  }

  .navmenu:hover {
    background: #D9D9D9 !important;
    color: black !important;
    font-weight: medium;
  }

  .navmenu.active {
    color: white !important;
    background: #f08b33 !important;
    font-weight: bold;
  }
  
  .pagebrand{
    display: flex;
    justify-content: center;
  }

/* Navbar Mobile */
.navbarM {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  min-height: 70px;
  z-index: 1000;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: hidden;
}


.navbar-containerMF {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scrollbar-color: #888 #f5f5f5;
  border-radius: 25px;
  position: relative;
}

.navbar-containerMF::-webkit-scrollbar {
  display: none;
}

.navbar-containerMF::-webkit-scrollbar {
  height: 6px;
}

.navbar-containerMF::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.navbar-containerMF::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.navM {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 24px;
}

.nav-itemM {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 25px;
  color: #333;
  transition: color 0.3s ease, fill 0.3s ease;
  padding: 0px 16px;
}

.nav-itemM.active {
  color: white !important;
  background-color: #f08b33 !important;
  border-radius: 25px;
}

.nav-itemM:hover {
  color: white !important;
  background-color: #f08b33 !important;
}

/* Header Mobile */

.container-header-mobile {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.container-logo-header-mobile,
.container-icon-user-mobile {
  background-color: #de7214;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px; 
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
  transition: width 0.3s ease, height 0.3s ease; 
}

.container-logo-header-mobile img,
.container-icon-user-mobile .rs-avatar {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.container-search-custom{
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 220px;
  max-width: auto;
  height: 35px;
  border-radius: 15px;
  background-color: #F5F5F5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.container-icon-search{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: #de7214;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.search-input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #757575;
  flex-grow: 1;
}


