.container {
    
    overflow: hidden;
  }
  .navbar {
    background: #EFEDEC;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar2{
    background: #EFEDEC;
    padding: 21px;
    border-radius: 0px 0px 20px 20px;
    margin-right: 13px;
  }
  .headerNav {
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
  }
  .headerLeft {
    display: flex;
    align-items: center;
  }
  .content {
    border-radius: 20px;
    background-color: #de7214;

  }
  .categories {
    margin-top: 20px;
  }
  .sidebar {
    background: #EFEDEC;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    transition: width 0.3s ease;
    border-radius: 0px 20px 20px 0%;
  }
  .navItem.collapsed{
    border-radius: 10px; 
    margin: 5px 10px;
    text-align: center;
  }
  .logoContainer {
    display: flex;
    justify-content: center;
    margin: 5px 10px;
  }
  
  .navItem {
    
    color: #FFFFFF;
    border-radius: 10px;
  }
  
  .navItem:hover {
    color: white !important;
    font-weight: medium;
  }

  .navItem.active {
    color: white !important;
    background: black;
    font-weight: bold;
  }
  .navmenu:hover {
    background: black;
    color:white !important;
  }
  .borderMenu{
    border-radius: 10px !important;
  }
  .borderMenu:hover{
    border-radius: 10px !important;
    color: white !important;
    
  }
  .toggleButton {
    margin-right: 10px;
    color: #de7214;
  }
  .navToggle{
    border-radius: 8px;
  }
  .centerMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .notificationIcon {
    margin-right: 20px;
    font-size: 22px;
  }
  .pagebrand{
    display: flex;
    justify-content: center;
  }
  

  
  

  