:root {
    --rs-primary-500: #f08b33;
    --rs-primary-600: #db7114;
    --rs-primary-700: #c46715;
    --rs-gray-0: transparent;
    --rs-gray-0: white;
    --rs-primary-800: white;
    --rs-primary-900: white;
}
div.rs-table-body-row-wrapper div.rs-table-row:nth-of-type(odd) {
    background-color: white !important;
  }
  
  div.rs-table-body-row-wrapper div.rs-table-row:nth-of-type(even) {
    background-color: #f5f5f5 !important;
  }
  
  /* Asegúrate de que las celdas heredan el color de fondo */
  div.rs-table-body-row-wrapper div.rs-table-row div.rs-table-cell {
    background-color: inherit !important;
  }

  .rs-btn.rs-btn-primary {
    background: linear-gradient(to bottom right, #f97316 10%, #bd2828 90%) !important;
    color: white !important;
  }
  
  .rs-btn.rs-btn-primary:hover {
    filter: brightness(1.1);
    transform: scale(1.01);
  }
  