.rs-nav-item{
  background-color: transparent !important;
}
.rs-nav-item:hover, .rs-nav-item:focus {
  background-color: transparent !important;
  color: black !important;
  text-decoration: none;
}

.rs-nav-item:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}


