.rs-nav-item{
  background-color: transparent !important;
}
.rs-nav-item:hover, .rs-nav-item:focus {
  background-color: transparent !important;
  color: black !important;
  text-decoration: none;
}

/* Opcional: si quieres un efecto sutil al hacer hover */
.rs-nav-item:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

/* .rs-dropdown-menu {
  margin-top: 0 !important;
  top: 68px !important; 
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: white;
  border: none;
  padding: 8px 0;
}
*/
/* .rs-dropdown-item {
  padding: 10px 20px;
  color: black;
  
}

.rs-dropdown-item:hover {
  background: transparent !important;
}  */ 


/* @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .navbar > div:last-child {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
    }
  } */